body{
    background: linear-gradient(135deg, #f8f3ee, #efe3d6, #e7d4c3);
     color: #6D5B4B;
    text-align:left;
    font-family: "Poppins", serif;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:25px 50px;
    padding:30px 50px;
    background:#d1b694bb;
    border-radius:80px;
}

h1{
    margin:0px;
    color:#462b13;
    font-size:70px;
}

.menu{
    flex-wrap:wrap;
    display:flex;
    gap:10px;
}

.menu a{
    text-decoration:none;
    color:#422913;
    font-size:25px;
}

.menu a:hover{
    color:#fffefd;
    background:#6b6a6a;
    transform:translateY(-5px) scale(1.08);
}

.menu a{
    background:#4e3116;
    color:#faf4ee;
    padding:5px 20px;
    border-radius:50px;
    text-decoration:none;
}

.profil{
    display:flex;
    justify-content:space-between;
    align-items:right;
    gap:100px;
    padding:70px;
}

.profil-text{
    flex:1;
}

.welcome{
    font-size:30px;
    color:#422913;
    font-style:italic;
    margin-bottom:80px;
}

.profil-text h2{
    font-size:60px;
    line-height:1.5;
    margin-top:20px;
    margin-bottom:10px;
    color:#57402a;
}

.profil-text p{
    font-size:35px;
    line-height:1.5;
    font-family:'Poppins', sans-serif;
}

.profil-text h3{
    margin-top:60px;
    color:#57402a;
    font-size:45px;
}

.profil-foto{
    flex:0 0 450px;
    display:flex;
    text-align:center;
}

#foto-profil{
    margin-top:200px;
    width:500px;
    height:500px;
    object-fit:cover;
    border-radius:40%;
    border:8px solid rgb(228, 209, 209);
    box-shadow:0 15px 35px rgba(0,0,0,0.12);
}

#foto-profil:hover{
    transform:scale(1.05);
}

.skill{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    list-style:none;
    padding:0;
    margin-top:25px;
}

.skill li{
    background:#d1b694bb;
    padding:15px 25px;
    border-radius:20px;
    margin-bottom:60px;
    font-size:35px;
}

.profil-text a{
    color:#8b6b4a;
    font-weight:bold;
    font-size:25px;
}

footer{
    text-align:center;
    margin-top:50px;
    padding:20px;
}


@media(max-width:768px){
    header{
        flex-direction:column;
        gap:20px;

    }

    header h1{
        font-size:40px;
        text-align:center;

    }

    .profil{
        flex-direction:column-reverse;
        text-align:center;
        padding:40px 25px;

    }

    #foto-profil{
        width:280px;
        height:280px;

    }

    .skill{
        justify-content:center;

    }

    .profil-text p{
        font-size:18px;

    }

}