body{
    background: linear-gradient(135deg, #f8f3ee, #efe3d6, #e7d4c3);
    color: #6D5B4B;
    text-align:center;
    font-family: "Courier New", serif;
}

header{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin:25px auto;
    padding:30px 50px;
    max-width:600px;
    background:#d1b694bb;
    border-radius:40px;
}

h1{
    margin:0 0 15px 0;
    color:#462b13;
    font-size:40px;
}

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:10px;
}

.menu a{
    text-decoration:none;
    color:#422913;
    font-family: "poppins", serif;
    font-size:16px;
}

.menu a:hover{
    color:#fffefd;
    background:#6b6a6a;
    transform:translateY(-3px) scale(1.05);
}

.menu a{
    background:#4e3116;
    color:#faf4ee;
    padding:5px 20px;
    border-radius:50px;
    text-decoration:none;
}

.profil{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:25px;
    padding:50px 20px;
    max-width:700px;
    margin:0 auto;
    animation: fadeBody 1s ease;
}

.profil-text{
    width:100%;
}

.welcome{
    font-size:20px;
    color:#422913;
    font-style:italic;
    margin-bottom:20px;
}

.profil-foto{
    flex:1;
    text-align:center;
    animation: fotoMuncul 2s ease;
}

@keyframes fotoMuncul{
    from{
        opacity:0;
        transform:translateY(20px) scale(0.95);
    }
    to{
        opacity:1;
        transform:translateY(0) scale(1);
    }
}

@keyframes fadeBody{
    from{ opacity:0; }
    to{ opacity:1; }
}

#foto-profil{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #d1b694;
    box-shadow:0 10px 25px rgba(0,0,0,0.12);
    transition:0.4s;
}

#foto-profil:hover{
    transform:scale(1.05);
}

.profil-text h2{
    font-size:32px;
    line-height:1.4;
    margin-top:20px;
    margin-bottom:10px;
    color:#57402a;
}

.profil-text p{
    font-size:16px;
    line-height:1.6;
    font-family:'poppins', sans-serif;
}

.profil-text h3{
    margin-top:30px;
    color:#57402a;
    font-size:22px;
}

.skill{
    display:flex;
    flex-wrap:wrap;
    font-family: "poppins", serif;
    justify-content:center;
    gap:12px;
    list-style:none;
    padding:0;
    margin-top:20px;
}

.skill li{
    background:#d1b694bb;
    padding:10px 20px;
    border-radius:20px;
    font-size:16px;
}

.profil-text a{
    color:#8b6b4a;
    font-weight:bold;
    font-size:16px;
}

footer{
    text-align:center;
    margin-top:50px;
    padding:20px;
}